<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Get on Board</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap"
        rel="stylesheet"/>
        <link rel="stylesheet" href="./styles/style.css" />
        <link rel="stylesheet" href="./styles/Card.css" />
    </head>


  <body>
    <main>

      
      <!-- Tall card -->
<div class="col">
    <div class="card" style="width: 15rem;">
        <img src="/src/assets/links/dice and pawns.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">LET'S <br> EXPLORE!</h5>
          <p class="card-text">Find and add more games</p>
          <button type="button" class="btn center">EXPLORE</button>
        </div>
      </div>
  </div>

</main>
</body>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"
></script>
</html>