  /* ====Universal Style==== */
  * {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  main {
    background-color: white;
    background-position: center;
    border-radius: 30px;
  }
  /* =====Fonts and Styles====*/
  h1 {
    font-weight: 900;
    /* font-size: 25px; */
  }
  h2,
  h3,
  h4,
  h5 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
  }
  h6 {
    line-height: 2em;
  }
  .nav-link {
     color: black; 
  }
  .nav-link:hover {
      color: #a9e800; 
   }

  
  /* ===Margins=== */
  .mrl-20 {
    margin-right: 4%;
    margin-left: 4%;
  }
  /* ====positions=== */
  .width-33{
    width:33%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  /* .height{
  height: 700px;
  } */
  
  .center-middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  /* ===Padding=== */
  .padding-20 {
    padding: 20px;
  }
  .padding-left20 {
    padding-left: 20px;
  }
  .padding-40 {
    padding: 40px;
  }
  .padding-top-20 {
      padding-top: 20px;
  }
  .padding-top-40 {
      padding-top: 40px;
  }
  
  .padding-top-60 {
    padding-top: 60px;
  }
  
  .padding-top-80 {
    padding-top: 80px;
  }
  
  .padding-top-200 {
    padding-top: 200px;
  }
  
  .padding-top-280 {
      padding-top: 280px;
  
    }
    .padding-bottom-10 {
      padding-bottom: 10px;
    }
    
    
  .padding-bottom-40 {
      padding-bottom: 40px;
    }
    
  .padding-bottom-60 {
      padding-bottom: 60px;
    }
  /*==== images===== */
  .icon {
    border-radius: 50%;
    width: 80px;
    float: left;
  }
  .logo {
    width: 100%;
  }
  
  .background-img {
    background-image: url("/assets/images/green-hill.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* ====background==== */
  .bg-cream {
    background-color: 	232	215	201 .9;
    background-position: center;
    border-radius: 30px;
    height: 800px;
    margin: 2%;
  }
  
  /* ===buttons=== */
  .btn-green {
    background-color: #a9e800;
    border-radius: 20px;
    height: 4em;
    font-weight: bold;
  }
  .btn-clear {
    padding: 20px;
    border-radius: 20px;
    height: 4em;
    font-weight: 400;
    border-style: solid;
    border-width: 0.25px;
    background-color: transparent;
  }
  
  .login-bg {
    background-position: center;
    border-radius: 30px;
    height: 800px;
    margin: 2%;
  }
  
.animation{
  animation-name: bg-color;
  animation-duration: 30s;
}

@keyframes bg-color {
  from {background-color: rgb(167, 167, 167);}
  to {background-color: rgb(84, 85, 85);}
}